@import "../../_mixin/mixin";

//VOTING
.voting{
  overflow: hidden;

  .block-timer-low{
    position: absolute;
    width: $w_all;
    height: $w_all - 40%;
    background-color: #fafafa;

    .left-col{
      font-family: 'Muse_1';
      height: 100%;
      padding: 5%;
      line-height: 2;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      align-items: left;
      -webkit-flex-direction: column;
      flex-direction: column;

      >p{
        margin-top: 30px;
        font-size: 18px;
        color: lighten($c_text, 15%);
      }
    }// /-left-col

    .right-col{
      //padding: 7.5% 0;
      height: $w_all;
      background-color: $c_navbar-top;

      display: flex;
      display: -webkit-flex;
      justify-content: center;
      align-items: center;
      -webkit-flex-direction: column;
      flex-direction: column;

      .ClassyCountdown-wrapper{
        >div{
          display: inline-block;
          position: relative;
          margin: 10px;
          background-color: $c_white;
          border-radius: 50%;
        }

        .ClassyCountdown-value {
          width: 100%;
          line-height: 1em;
          position: absolute;
          top: 50%;
          text-align: center;
          left: 0;
          display: block;
        }

        .ClassyCountdown-seconds{
          width: 200px !important;
          height: 200px !important;

          >div{
            canvas{
              @extend .ClassyCountdown-seconds;
            }
          }
        }
      }
    }
  }// /-block-timer-low

  .foot-btn{
    font: 18px 'Muse_1';
    position: absolute;
    height: calc(100% - 60%);
    bottom: 0;
    padding: 0;
    overflow: hidden;

    &:before{
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      background: url("../../../../image/bg-btn.png") no-repeat center;
      background-size: cover;
    }

    .btn-foot-group {
      position: absolute;
      width: $w_all;
      height: $w_all;
      top: 0;

      display: flex;
      justify-content: center;
      align-items: center;



      >div{
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 2.5%;
        outline: none;
        border-color: transparent;
        cursor: pointer;

        &:first-child{
          background: rgb(28, 173, 89);
          background: -moz-linear-gradient(230deg, rgb(28, 173, 89) 33%, rgb(120, 206, 156) 77%);
          background: -webkit-linear-gradient(230deg, rgb(28, 173, 89) 33%, rgb(120, 206, 156) 77%);
          background: -o-linear-gradient(230deg, rgb(28, 173, 89) 33%, rgb(120, 206, 156) 77%);
          background: -ms-linear-gradient(230deg, rgb(28, 173, 89) 33%, rgb(120, 206, 156) 77%);
          background: linear-gradient(320deg, rgb(28, 173, 89) 33%, rgb(120, 206, 156) 77%);

          >span{
            color: $c_green;
          }
        }
        &:nth-child(2){
          background: rgb(235, 205, 40);
          background: -moz-linear-gradient(230deg, rgb(235, 205, 40) 33%, rgb(243, 225, 128) 77%);
          background: -webkit-linear-gradient(230deg, rgb(235, 205, 40) 33%, rgb(243, 225, 128) 77%);
          background: -o-linear-gradient(230deg, rgb(235, 205, 40) 33%, rgb(243, 225, 128) 77%);
          background: -ms-linear-gradient(230deg, rgb(235, 205, 40) 33%, rgb(243, 225, 128) 77%);
          background: linear-gradient(320deg, rgb(235, 205, 40) 33%, rgb(243, 225, 128) 77%);

          >span{
            color: $c_yellow;
          }
        }
        &:last-child{
          background: rgb(216, 79, 24);
          background: -moz-linear-gradient(230deg, rgb(216, 79, 24) 33%, rgb(232, 151, 119) 77%);
          background: -webkit-linear-gradient(230deg, rgb(216, 79, 24) 33%, rgb(232, 151, 119) 77%);
          background: -o-linear-gradient(230deg, rgb(216, 79, 24) 33%, rgb(232, 151, 119) 77%);
          background: -ms-linear-gradient(230deg, rgb(216, 79, 24) 33%, rgb(232, 151, 119) 77%);
          background: linear-gradient(320deg, rgb(216, 79, 24) 33%, rgb(232, 151, 119) 77%);

          >span{
            color: $c_red;
          }
        }

        >i.yes,
        >i.nt,
        >i.no{
          position: absolute;
          top: 7px;
          left: 7px;
          width: 184px;
          height: 184px;
          background-color: #fff;
          border-radius: 50%;
        }

        >span.btn-txt {
          position: relative;
          font: 25px 'Muse_2';
          line-height: 7.8;
        }
      }
    }
  }// /-foot-btn

  .result-voting-y{

    .header-res{
      position: absolute;
      width: $w_all;
      height: $w_all - 25%;

      .top-block{
        height: $w_all - 85%;
        background-color: #e6e9ee;
        @include border(bottom, #c3c7d2);

        >p{
          display:flex;
          justify-content:center;
          align-items:center;
          height: $w_all;
          color: $c_text;
          font: 2em 'Muse_2';
        }
      }// /-top-block

      .bottom-block{
        height: $w_all;

        &:before{
          content: '';
          display: inline-block;
          width: 100%;
          height: 100%;
          background: url("../../../../image/bg-btn.png") no-repeat center;
          background-size: cover;
        }

        .watch-result{
          position: absolute;
          width: 100%;
          top: calc(100% - 85%);
          height: calc(100% - 15%);

          .left,
          .right{
            height: 100%;
            display: flex;
            display: -webkit-flex;
            justify-content: center;
            -webkit-flex-direction: column;
            flex-direction: column;

            width: $w_all - 50%;
            height: $w_all;

            padding: 0 1%;

            >p{
              font: 2em 'Muse_2';
              margin-bottom: 0;
              line-height: 2;
            }
          }

          .left{
            float: left;
          } // /-left

          .right{
            float: right;

            >p{
              &:first-child{
                color: $c_green;
              }
              &:nth-child(2){
               color: $c_yellow;
              }
              &:nth-child(3){
               color: $c_red;
              }
              &:nth-child(4){
               color: $c_blue;
              }
            }
          }// /-right
        }// /-watch-result
      }// /-bottom-block
    }// /-header-res

    .footer-res{
      position: absolute;
      width: $w_all;
      top: calc(100% - 25%);
      height: $w_all - 75%;

      background-color: $c_green;

      >p{
        display:flex;
        justify-content:center;
        align-items:center;
        height: $w_all;
        margin-bottom: 0;
        color: $c_white;
        font: 3em 'Muse_1';
      }
    }// /-footer-res
  }// /-result-voting
}// /-VOTING

