@import "../_mixin/mixin";

.site-menubar{
  position: fixed;
  top: $h_nav;
  width: $w_left-nav;
  height: $w_all;
  height: -webkit-calc(100% - 66px);
  height: calc(100% - 66px);

  &:before{
    background: url("");
  }
}// /-site-menubar