@import "../_mixin/mixin";

.site-navbar{
  background-color: $c_blue;
  border: none;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.1);
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}// /-site-navbar

.navbar-fixed-top{
  width: $w_all;

  .navbar-header{
    float: left;
    width: 260px;
    color: $c_white;
    background-color: transparent;

    .navbar-brand{
      position: relative;
      height: $h_nav;
      font-family: 'Muse_0';
      color: $c_white;
      cursor: pointer;

      padding: 0;

      .navbar-brand-logo{
        float: left;
        width: 44px;
        height: 37.5px;

        background: url("../../../image/navbar/logo.png") no-repeat center;
        background-size: cover;

        margin: 14px 15px;
      }

      .navbar-brand-text{
        display: table-cell;
        padding: 15px 5px;
      }// /-navbar-brand-text
    }// /-navbar-brand
  }// /-navbar-header

  .navbar-container{
    position: relative;
    height: $h_nav;
    margin-left: 260px;
    background-color: $c_navbar-top;
    padding: 0;

    button.arrow-swap{
      display: inline-block;
      height: $h_nav;
      width: $h_nav - 16px;

      background-color: $c_lightblue;
      border-radius: 0;
      border-top-right-radius: 2.3em;
      border-bottom-right-radius: 2.3em;

      outline: 0;

      .icon-arrow{
        display: inline-block;
        width: 14.5px;
        height: 20px;

        background: url("../../../image/navbar/icon-arrow.png") no-repeat center;
        background-size: contain;
      }// /-icon-arrow

      .icon-arrow-rotate{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        transition: 1s;
      }
    }// /-arrow-swap

    .time-block{
      position: absolute;
      top: 0;
      right: 0;
      width: 110px;
      height: $h_nav;
      background-color: $c_time;
      @include border(left, $c_white);

      .clock {
        color: $c_white;
        padding: 20px 0px;

        ul {
          padding:0px;
          margin: 0;
          text-align:center;

          >li{
            display:inline;
            font: 20px 'Muse_1';
          }

          .point {
            position:relative;
            vertical-align: text-bottom;
          }// /-point
        }// /-ul
      }// /-clock
    }

    .user-info-ava{
      width: 500px;
      height: $h_nav;
      margin-right: 110px;
      font-family: 'Muse_0';

      .icon-user-face{
        float: left;
        display: inline-block;
        width: 58px;
        height: 58px;
        background: url("../../../image/screenprofile/Dr-house.jpg") no-repeat center;
        background-size: contain;
        border-radius: 50%;
        border: 2px solid $c_white;
        vertical-align: middle;
        margin: 4px 15px;
      }

      >div{
        font-size: 16px;
        line-height: 1.3;
        white-space: nowrap;
        padding-top: 12px;

        >span:first-child{
          font-family: 'Muse_1';
          font-size: 18px;
        }
      }
    }

    #custom-search-input{
      position: absolute;
      top: 0;
      width: 350px;
      margin: 9px 10px 9px 100px;
      @include border(all, #E4E4E4);
      border-radius: 0.8em;
      background-color: #fff;
      font-family: 'Muse_0';

      @include media-def-max($w_xs - 1){
        display: none;
      }
      input{
        color: #ccc;
        border: 0;
        box-shadow: none;
      }// /-input

      button{
        margin: 2px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 10px;
        outline: 0;

        &:hover{
          border: 0;
          box-shadow: none;
        }
      }// /-button

      .glyphicon-search{
        font-size: 20px;
        color: #ccc;
      }
    }// /-custom-search-input
  }// /-navbar-container

  .nabar-txt{
    .user-info-ava{
      width: 100px;

      >div{
        display: none;
      }
    }// /-user-info-ava
  }// /-nabar-txt
}// /-navbar-fixed-top



/*
ANIMATION CLASS
*/
.hide-menubar{
  display: none !important;
  transition: 1s;
}
.btn-left{
  margin-left: -185px;
  transition: .5s;
}
.slide-left-menu{
  width: 75px !important;
  transition: .5s;
}
.left-side-container{
  margin-left: 76px !important;
  transition: .5s;
}
