@import "../../mixin";

.navbar{
  min-height: $h_nav;
  border: 0;
  @include border(bottom, $c_border);

  .navbar-header{
    min-height: $h_nav;

    .navbar-brand{
      height: $h_nav;
      width: $w_left-nav;

      padding: 0;

      background-color: $c_blue;

      .logo{
        float: left;
        width: 52px;
        height: 64px;
        background: url("../../../image/navbar/logo.png") no-repeat center;
        background-size: contain;
        margin: 0 20px;
      }

      span.brand-logo {
        display: -webkit-box;
        font: 18px "Muse_0";
        color: #fff;
        padding-top: 11px;
      }
    }// /-navbar-brand

    .slide-left{
      width: 93px;
      transition: .5s;
    }

    button.btn.btn-click {
      display: block;
      width: 45px;
      height: 64px;
      border-top-right-radius: 2.5em;
      border-bottom-right-radius: 2.5em;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      outline: 0;
      box-shadow: none;

      background-color: $c_lightblue;
      @include border(bottom, $c_blue);
      @include border(right, $c_blue);
      @include border(top, $c_blue);

      .icon-arrow-left{
        display: inline-block;
        width: 9.5px;
        height: 17.5px;
        background: url("../../../image/navbar/icon-arrow.png") no-repeat center;
        background-size: contain;
      }// /-icon-arrow-right

      .icon-arrow-right{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        transition: 1s;
      } // /-icon-arrow-right
    }
  }//-navbar-header



  .navbar-collapse{
    min-height: $h_nav;
  }// /-navbar-collapse
}// /-navbar