.site-navbar {
  background-color: #1369a2;
  border: none;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

.navbar-fixed-top {
  width: 100%; }
  .navbar-fixed-top .navbar-header {
    width: 260px;
    color: #fff;
    background-color: transparent; }
    .navbar-fixed-top .navbar-header .navbar-brand {
      position: relative;
      height: 66px;
      font-family: 'Muse_0';
      color: #fff;
      cursor: pointer;
      padding: 0; }
      .navbar-fixed-top .navbar-header .navbar-brand .navbar-brand-logo {
        float: left;
        width: 44px;
        height: 37.5px;
        background: url("../../../image/navbar/logo.png") no-repeat center;
        background-size: cover;
        margin: 14px 15px; }
      .navbar-fixed-top .navbar-header .navbar-brand .navbar-brand-text {
        display: table-cell;
        padding: 15px 5px; }
  .navbar-fixed-top .navbar-container {
    position: relative;
    height: 66px;
    margin-left: 260px;
    background-color: #f0f2f4;
    padding: 0; }
    .navbar-fixed-top .navbar-container button.arrow-swap {
      display: inline-block;
      height: 66px;
      width: 50px;
      background-color: #3498db;
      border-radius: 0;
      border-top-right-radius: 2.3em;
      border-bottom-right-radius: 2.3em;
      outline: 0; }
      .navbar-fixed-top .navbar-container button.arrow-swap .icon-arrow {
        display: inline-block;
        width: 14.5px;
        height: 20px;
        background: url("../../../image/navbar/icon-arrow.png") no-repeat center;
        background-size: contain; }
      .navbar-fixed-top .navbar-container button.arrow-swap .icon-arrow-rotate {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        transition: 1s; }
    .navbar-fixed-top .navbar-container .time-block {
      position: absolute;
      top: 0;
      right: 0;
      width: 110px;
      height: 66px;
      background-color: #949fb0;
      border-left: 1px solid #fff; }
      .navbar-fixed-top .navbar-container .time-block .clock {
        color: #fff;
        padding: 20px 25px; }
        .navbar-fixed-top .navbar-container .time-block .clock ul {
          padding: 0px;
          margin: 0;
          text-align: center; }
          .navbar-fixed-top .navbar-container .time-block .clock ul > li {
            display: inline;
            font: 20px 'Muse_1'; }
          .navbar-fixed-top .navbar-container .time-block .clock ul .point {
            position: relative;
            vertical-align: text-bottom; }
    .navbar-fixed-top .navbar-container .user-info-ava {
      width: 500px;
      height: 66px;
      margin-right: 110px;
      font-family: 'Muse_0'; }
      .navbar-fixed-top .navbar-container .user-info-ava .icon-user-face {
        float: left;
        display: inline-block;
        width: 58px;
        height: 58px;
        background: url("../../../image/screenprofile/Dr-house.jpg") no-repeat center;
        background-size: contain;
        border-radius: 50%;
        border: 2px solid #fff;
        vertical-align: middle;
        margin: 4px 15px; }
      .navbar-fixed-top .navbar-container .user-info-ava > div {
        font-size: 16px;
        line-height: 2;
        white-space: nowrap; }
        .navbar-fixed-top .navbar-container .user-info-ava > div > span:first-child {
          font-family: 'Muse_1';
          font-size: 18px; }

/*
ANIMATION CLASS
*/
.hide-menubar {
  display: none !important;
  transition: 1s; }

.btn-left {
  margin-left: -185px;
  transition: .5s; }

.slide-left-menu {
  width: 75px !important;
  transition: .5s; }

.left-side-container {
  margin-left: 76px !important;
  transition: .5s; }

/*# sourceMappingURL=navbar.css.map */
