@import "../_mixin/mixin";

#content-page{
  position: fixed;
  top: $h_nav;
  left: $w_left-nav;
  width: $w_all;
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
  height: 100%;

  padding: 15px;

  -webkit-box-shadow: -3px 0px 3px 0px rgba(50, 50, 50, 0.21);
  -moz-box-shadow: -3px 0px 3px 0px rgba(50, 50, 50, 0.21);
  box-shadow: -3px 0px 3px 0px rgba(50, 50, 50, 0.21);
}// /-content-page



/*
ANIMATION CLASS
*/
.content-slide{
  left: 75px !important;
  width: -webkit-calc(100% - 75px) !important;
  width: calc(100% - 75px) !important;
  transition: .5s;
}