// COLOR==============================
$c_white: #fff;
$c_navbar-top: #f0f2f4;
$c_wrap: #e6eaee;
$c_border-nav: #cacccf;
$c_btn-prev: #cbcbcb;
$c_border-search: #d6dbdf;
$c_border-btn: #b1bed2;
$c_border: #c2c7d1;
$c_time: #949fb0;
$c_text: #373a3d;
$c_shadowblue: #00c6ff;
$c_textblue: #a6d9f4;
$c_lightblue: #3498db;
$c_blue: #1369a2;
$c_darkblue: #075fa2;
$c_yellow: #fed500;
$c_green: #36b66c;
$c_red: #db5b29;


// WIDTH==============================
$w_all: 100%;
$w_left-nav: 260px;
$w_xs: 768px;
$w_sm: 768px;
$w_md: 992px;
$w_lg: 1200px;

// HEIGHT=============================
$h_nav: 66px;

//FONT================================
$f_muse: 'Muse', sans-serif;

//BORDER==============================
@mixin border($place, $color){
  @if $place == "all" {
    border: 1px solid $color;
  } @else{
    border-#{$place}: 1px solid $color;
  }
}

//MEDIA=========================
//  MAX
@mixin media-def-max($max:1){
  @media only screen and(max-width: $max){
    @content;
  }
}
//  MIN
@mixin media-def-min($min:0){
  @media only screen and(min-width: $min){
    @content;
  }
}
//MAX-MIN
@mixin media-def-min_max($s:0, $e:1){
  @media only screen and(min-width: $s) and (max-width: $e){
    @content;
  }
}