// COLOR==============================
$c_white: #fff;
$c_navbar-top: #f0f2f4;
$c_wrap: #e6eaee;
$c_border-nav: #cacccf;
$c_btn-prev: #cbcbcb;
$c_border-btn: #b1bed2;
$c_border: #c2c7d1;
$c_time: #949fb0;
$c_text: #373a3d;
$c_shadowblue: #00c6ff;
$c_textblue: #a6d9f4;
$c_lightblue: #3498db;
$c_blue: #1369a2;
$c_yellow: #fed500;


// WIDTH==============================
$w_all: 100%;
$w_left-nav: 260px;

// HEIGHT=============================
$h_nav: 66px;

//FONT================================
$f_muse: 'Muse', sans-serif;

//BORDER==============================
@mixin border($place, $color){
  @if $place == "all" {
    border: 1px solid $color;
  } @else{
    border-#{$place}: 1px solid $color;
  }
}
