#screen-profile {
  height: 100%;
  max-height: 100%;
  background: url("../../../image/screenprofile/test.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden; }
  #screen-profile #screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    #screen-profile #screen .row {
      width: 100%; }
      #screen-profile #screen .row .arms {
        max-width: 17%;
        margin: 0 auto 2%; }
        @media only screen and (max-width: 767px) {
          #screen-profile #screen .row .arms {
            max-width: 27%; } }
      #screen-profile #screen .row > p {
        color: #fff;
        font: 3.7em "Muse_0"; }
        @media only screen and (max-width: 668px) {
          #screen-profile #screen .row > p {
            font-size: 3em; } }
        @media only screen and (max-width: 768px) {
          #screen-profile #screen .row > p {
            font-size: 2em; } }
      #screen-profile #screen .row .clock {
        margin-top: 3%;
        color: #fed500; }
        #screen-profile #screen .row .clock #Date {
          font: 26px 'Muse_0';
          text-align: center;
          text-shadow: 0 0 5px #00c6ff; }
          @media only screen and (max-width: 668px) {
            #screen-profile #screen .row .clock #Date {
              font-size: 23px; } }
          @media only screen and (max-width: 768px) {
            #screen-profile #screen .row .clock #Date {
              font-size: 20px; } }
        #screen-profile #screen .row .clock ul {
          padding: 0px;
          text-align: center; }
          #screen-profile #screen .row .clock ul > li {
            display: inline;
            font: 5em 'Muse_0';
            text-shadow: 0 0 5px #00c6ff; }
            @media only screen and (max-width: 668px) {
              #screen-profile #screen .row .clock ul > li {
                font-size: 3.5em; } }
            @media only screen and (max-width: 768px) {
              #screen-profile #screen .row .clock ul > li {
                font-size: 3em; } }
          #screen-profile #screen .row .clock ul .point {
            position: relative;
            -moz-animation: mymove 1s ease infinite;
            -webkit-animation: mymove 1s ease infinite;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: super; }
  #screen-profile #profile {
    display: none; }
    @media only screen and (max-width: 767px) {
      #screen-profile #profile .row {
        font-size: 75%; } }
    @media only screen and (max-width: 768px) {
      #screen-profile #profile .row {
        font-size: 56%; } }
    #screen-profile #profile .row .content {
      position: absolute;
      width: 100%;
      top: 0;
      height: 80%; }
      #screen-profile #profile .row .content > p {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font: 2.4em 'Muse_1';
        height: 15%;
        margin-bottom: 0;
        background-color: rgba(7, 95, 162, 0.8);
        box-shadow: 0 0.5px 1px rgba(255, 255, 255, 0.5); }
      #screen-profile #profile .row .content .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 15%); }
        #screen-profile #profile .row .content .center .face {
          width: 330px;
          height: 330px;
          background: url("../../../image/screenprofile/Dr-house.jpg") no-repeat center;
          background-size: cover;
          box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.6); }
          @media only screen and (max-width: 668px) {
            #screen-profile #profile .row .content .center .face {
              width: 200px;
              height: 200px; } }
    #screen-profile #profile .row .bottom-block {
      position: absolute;
      width: 100%;
      top: 80%;
      height: calc(100% - 80%);
      background-color: rgba(7, 95, 162, 0.8);
      box-shadow: 0 -0.6px 1px rgba(255, 255, 255, 0.5);
      padding-top: 2%; }
      #screen-profile #profile .row .bottom-block > p {
        font: 2.3em 'Muse_1';
        color: #fff;
        margin-bottom: 0; }
        #screen-profile #profile .row .bottom-block > p:first-child {
          margin-bottom: 10px; }
        #screen-profile #profile .row .bottom-block > p:last-child {
          font-size: 2.1em; }

@-webkit-keyframes mymove {
  0% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff; }
  50% {
    opacity: 0;
    text-shadow: none; }
  100% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff; } }
@-moz-keyframes mymove {
  0% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff; }
  50% {
    opacity: 0;
    text-shadow: none; }
  100% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff; } }

/*# sourceMappingURL=scrpro.css.map */
