@import "../_mixin/mixin";

//SCREEN
#screen-profile{
  height: $w_all;
  background: url("../../../image/screenprofile/test.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;

  #screen{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100%;

    .row{
      width: 100%;

      .arms {
        max-width: 17%;
        margin: 0 auto 2%;

        @include media-def-max($w_sm - 1){
          max-width: 27%;
        }
      }// /-arms

      >p{
        color: $c_white;
        font: 3.7em "Muse_0";

        @include media-def-max($w_sm - 100){
          font-size: 3em;
        }
        @include media-def-max($w_xs){
          font-size: 2em;
        }
      }

      .clock {
        margin-top: 3%;
        color: $c_yellow;

        #Date {
          font: 26px 'Muse_0';
          text-align: center;
          text-shadow:0 0 5px $c_shadowblue;

          @include media-def-max($w_sm - 100){
            font-size: 23px;
          }
          @include media-def-max($w_xs){
            font-size: 20px;
          }
        }// /-Date

        ul {
          padding:0px;
          text-align:center;

          >li{
            display:inline;
            font: 5em 'Muse_0';
            text-shadow:0 0 5px $c_shadowblue;

            @include media-def-max($w_sm - 100){
              font-size: 3.5em;
            }
            @include media-def-max($w_xs){
              font-size: 3em;
            }
          }

          .point {
            position:relative;
            -moz-animation:mymove 1s ease infinite;
            -webkit-animation:mymove 1s ease infinite;
            padding-left:10px;
            padding-right:10px;
            vertical-align: super;
          }// /-point
        }// /-ul
      }// /-clock
    }// /-row
  }// /-screen

  #profile{
    display: none;
    height: 100%;

    .row{
      .top-block{
        position: absolute;
        top: 0;
        width: $w_all;
        height: $w_all - 86%;
        background-color: rgba($c_blue, .8);
        box-shadow: 0 .5px 1px rgba(255,255,255,0.5);

        >p{
          font: 2.4em 'Muse_1';
          color: #fff;
          padding: 3.1%;
        }
      }// /-top-block

      .center-block{
        position: absolute;
        top: $w_all - 86%;
        width: $w_all;
        height: $w_all - 34%;
        padding: 1% 0;

        >i.face{
          margin: 3% auto 0;
          width: 330px;
          height: 330px;
          background: url("../../../image/screenprofile/Dr-house.jpg") no-repeat center;
          background-size: cover;
          box-shadow: 0px 0px 3px rgba(255,255,255,0.6);
        }
      }// /-center-block

      .bottom-block{
        position: absolute;
        width: $w_all;
        height: $w_all - 80%;
        bottom: 0;
        background-color: rgba($c_blue, .8);
        box-shadow: 0 -0.6px 1px rgba(255,255,255,0.6);
        padding: 1.5% 0;

        >p:first-child{
          color: $c_white;
          font: 2.3em 'Muse_1';
          line-height: 2.5;
        }

        .discription{
          >p{
            color: $c_textblue;
            font: 1.9em 'Muse_0';
          }

          >p:last-child{
            margin-bottom: 0;
          }
        }// /-discription
      }// /-bottom-block
    }// /-row
  }// /-profile

}// /-SCREEN_PROFILE


// toggle animation for clock points
@-webkit-keyframes mymove
{
  0% {
    opacity:1.0;
    text-shadow:0 0 20px #00c6ff;
  }
  50% {
    opacity:0;
    text-shadow:none;
  }
  100% {
    opacity:1.0;
    text-shadow:0 0 20px #00c6ff;
  }
}

@-moz-keyframes mymove
{
  0% {
    opacity:1.0;
    text-shadow:0 0 20px #00c6ff;
  }
  50% {
    opacity:0;
    text-shadow:none;
  }
  100% {
    opacity:1.0;
    text-shadow:0 0 20px #00c6ff;
  }
}